!!! 5
%head
  %link{:href => "reveal.js/css/reveal.min.css", :rel => "stylesheet"}
  %link{:href => "reveal.js/css/theme/default.css", :rel => "stylesheet", id: "theme"}
  // %link{:href => "styles/css/fonts.css", :rel => "stylesheet"} comment this out if you have some custom fonts
  %link(rel="stylesheet" type="text/css" href="styles/css/main.css") 
%body
  .reveal
    .slides
      %section
        %h1 write your presentation!
      %section
        %h3 with haml and sass 
        
%script{:src => "reveal.js/lib/js/head.min.js"}
%script{:src => "reveal.js/js/reveal.min.js"}
:javascript
  Reveal.initialize({
  });
