-# coding: UTF-8
!!! 5
%head
  %link{:href => "reveal.js/css/reveal.min.css", :rel => "stylesheet"}
  %link{:href => "reveal.js/css/theme/default.css", :rel => "stylesheet", id: "theme"}
  // %link{:href => "styles/css/fonts.css", :rel => "stylesheet"} comment this out if you have some custom fonts
  %link(rel="stylesheet" type="text/css" href="styles/css/main.css") 
%body
  .reveal
    .slides#content
      %section
        %h1 gitlab und gitlab_ci
        %h4 @pebra
      %section
        %img.pebra{src: "images/pebra.jpg"}
        %h4 @pebra
        %h4 @bitbitesco
        %h4 http://pebra.net
        %h4 http://bitbites.de
      %section
        %section
          %h1 gitlab?
        %section
          %ul
            %li github zum selbst hosten
            %li eine grafische Oberfl&auml;che f&uuml;r git mit zus&auml;tzlichen Features 
            %li Rails-Projekt
        %section
          %img{src: "images/gitlab_project_tree.png"}
          %span source: http://gitlabhq.com
        %section
          %h1 Gitlab features
        %section
          %h4 Merge requests 
          %img{src: "images/merge-requests.png"}
        %section
          %h4 issues
          %img{src: "images/issues.png"}
        %section
          %h4 visualisierungen
          %img{src: "images/graphs.png"}
        %section
          %h4 branch-verlauf
          %img{src: "images/network.png"}
        %section
          %h2 Anbindung an
          %ul
            %li campfire
            %li hipchat
            %li gitlab_ci

          
%script{:src => "reveal.js/lib/js/head.min.js"}
%script{:src => "reveal.js/js/reveal.min.js"}
:javascript
  Reveal.initialize({
  });
